*
!.gitignore
!flags/
!payment_systems/
!payment_systems/payok.png
!default/
!social_media_type/Instagram.png
!social_media_type/Facebook.png
!social_media_type/OK.png
!social_media_type/VK.png
!contacts/Telegram.png
!contacts/Viber.png
!contacts/Skype.png
!contacts/WhatsApp.png
!contacts/Instagram.png
!contacts/Facebook.png
!emails/
!social_media_type/

